a{
  color:#099E40;
}


input{
border-radius: 6px;
border: 1px solid ; 
}

.delete{
 color:#099E40;  
}

button{
 color:#099E40;
 border-radius: 6px;
border: 1px solid ;
 
}

.post{
 color:#099E40; 
}

textarea{
height: 200px;
width: 400px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
border: 1px solid #ccc;

}

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
height: 200px;
width: 400px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
}

