<div class="input-group">
  <input type="text" class="form-control" placeholder="Title">
  <br>
  <input type="text" class="form-control" placeholder="Date">
  <br>
  <textarea>Type your post here.</textarea>
  <!-- <div class="input-group-lg">
    <input type="text" class="form-control" placeholder="Blog Post">
  </div> -->
</div>
<button type="button" class="btn btn-default navbar-btn">Submit</button>