<% @post.each do |singlepost| %>
<div class="blog-post">
  <div class="blog-post-title">
    <%= singlepost[:title] %>
  </div>
  <em><%= singlepost[:timestamp] %></em>
  <br>
  <%= singlepost[:content] %>
</div>
<% end %>