%h4 What treatment happened?

= form_for [@hospital, @patient] do |f|
  =f.label :notes
  =f.text_area :notes, placeholder: "Tell us about how you are feeling."
  %br
  =f.submit 
  %br
  %hr
  = link_to "Home", root_path