= link_to "Cancel", root_path
%hr
%h4 Search Results
%br
  
 - @search_names.each do |patient|
  =patient.name
  = link_to "Show", hospital_patient_path(@hospital, patient)
  |
  = link_to "Edit", edit_hospital_patient_path(@hospital, patient)
 
%hr   

