%ul.nav.navbar-nav
  %li
    = link_to "Home", root_path
  %li
    =link_to "Customers", customers_path
  %li
    =link_to "Orders", orders_path
  %li
    =link_to "Products", products_path
%ul.nav.navbar-nav.navbar-right
  - if current_user
    %li
      = link_to "Logout", destroy_user_session_path, method: :destroy
  - else
    %li
      = link_to "Register", new_user_registration_path
    %li
      = link_to "Login", new_user_session_path
