* {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body{
  margin: 0;
}

ul li{
  display:inline-block;
  list-style: none;
   padding-right: 20px;
}

a{
text-decoration:none
}

a:link {color:black;}

a:visited {color:black;}

a:hover { color: rgba(75, 75, 75, 0.75); }


.header{
  width: 100%;
  height: 300px;
  postion: absolute;
  background-image: url('/images/header_image.jpg');
  background-size: 100% 100%;
}

.overlay{
  width: 100%;
  height: 300px;
  background-color: rgba(75, 75, 75, 0.75);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; 
}

.header-text{
  font-family: 'Rock Salt', cursive;
  font-size: 48px;
  color: white;
  position:relative;
  padding-left:10px;
  top: 32px;
  left: 150px;
}


.navigation{
  width: 900px;
  height: 75px;
}

.nav-buttons{
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  position: absolute;
  margin: 0 10px;
  list-style: none;
}


.container{
  width: 1000px;
  min-height: 500px;
}

.surfreport {
  font-family: 'Maven Pro', sans-serif;
  width: 250px;
  min-height: 500px;
  position: absolute;
  left: 1010px;
  display: inline-block;
}

.surfboards{
  display: inline-block;
  position: relative;
  padding-right: 50px;
}

.boards{
  height:400px;
  width:200px;
}

.board-text{
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
}

.hardgoods{
  display: inline-block;
  position: relative;
  padding-right: 50px;
}

.hard{
  height:400px;
  width:200px;
}

.hard-text{
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
}

.softgoods{
 display: inline-block;
  position: relative;
  padding-right: 50px; 
}

.soft{
  height:400px;
  width:400px;
}

.soft-text{
 font-family: 'Maven Pro', sans-serif;
  font-size: 18px; 
}

.about{
 font-family: 'Maven Pro', sans-serif; 
}

.footer{
  font-family: 'Maven Pro', sans-serif;
  background-color: rgb(75, 75, 75);
  color:white;
  width:100%;
  height:100px;
}

